[include]
    path = ~/.gitconfig.local
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[pull]
    rebase = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[rebase]
    updateRefs = true
[merge]
    conflictStyle = zdiff3
[help]
    autocorrect = prompt
[gpg]
    format = ssh
[core]
    editor = nvim
    autocrlf = false
    safecrlf = true
    excludesfile = ~/.gitignore
[alias]
    ; co = sh "branch -l | fzf | checkout"
    co = checkout
    bl = branch -l
    br = branch -r
    ba = branch -la
[commit]
    gpgsign = true
    verbose = true
[tag]
    gpgsign = true
[rerere]
    enabled = true
    autoupdate = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    tool = nvim
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[diff "tool.nvim"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
